*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

html {
  font-size: 112.5%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f4f0;
  overflow-x: hidden;
  width: 100%;
}
